* {
  background-color: yellow;
}

h1 {
  font-family: Arial;
/*  text-align: center; */
  justify-content: center;
  font-size: 160px;
  color: red;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  
}

.row {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  width: 900px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  
  
}

.inputs {
   font-family: Arial;
   justify-content: center;
   align-items: center;
   text-align: center;
   font-size: 6rem;
   line-height: 2rem;
   font-weight: bold;
   box-sizing: border-box;
   color: red;
   user-select: none;
   border-color: green;
   display: block;
   width: 100%;
   
}

#mensagemFim {
  position: absolute;
  background: green;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  top: 200px;
  left: 300px;
  right: 300px;
  opacity: 95%;
  border: 3px solid blue;
}
