* {
  background-color: yellow;
}

table {
  width: 650px;
  margin: 0 auto;
}

td {
  font-family: Arial;
  font-weight: bold;
  color: red;
  text-align: center;
  background-color: transparent;
  border-color: blue;
}

div {
  font-family: Arial;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-color: transparent;
  border-color: blue;
  
}


.row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

.inputs {
   font-family: Arial;
   justify-content: center;
   align-items: center;
   font-size: 2rem;
   line-height: 2rem;
   font-weight: bold;
   vertical-align: middle;
   box-sizing: border-box;
   color: red;
   user-select: none;
   border-color: blue;
   display: inline-flex;
   width: 62px;
}
h1 {
  font-family: Arial;
  text-align: center;
  font-size: 80px;
  color: red;
}

#mensagemFim {
  position: absolute;
  background: green;
  font-size: 40px;
  top: 200px;
  left: 300px;
  right: 300px;
  opacity: 95%;
  border: 3px solid blue;
}
